@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-color: white;
    --bg-color: hsl(212, 45%, 89%);
    --h1-color: hsl(218, 44%, 22%);
    --p-color: hsl(216, 15%, 48%);
}

html, body {
    background-color: var(--bg-color);
    max-width: 100%;
    min-height: 100vh;
}

main {
    background-color: var(--main-color);
    position: absolute;
    width: 20em;
    height: fit-content;
    padding: 1em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}

main img {
    width: 100%;
    margin: auto;
    border-radius: 1em;
    margin-block-end: 1em;
}

h1,p {
    margin: auto;
}

h1 {
    color: var(--h1-color);
    font-size: 1.6em;
    width: clamp(18ch, 80%, 20ch);
    margin-block-end: 1rem;
}

p{
    font-size: 1em;
    color: var(--p-color);
    width: 25ch;
    margin-block-end: 2.5em;
}
