@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: hsl(212, 45%, 89%);
    max-width: 100%;
    min-height: 100vh;
}

main {
    background-color: white;
    position: absolute;
    width: 20em;
    height: fit-content;
    padding: 1em;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
}

main img {
    width: 100%;
    margin: auto;
    border-radius: 1em;
    margin-bottom: 1em;
}

h1,p {
    margin: auto;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.6em;
    width: 18ch;
    margin-bottom: 1rem;
}

p{
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    width: 25ch;
    margin-bottom: 2.5em;
}
